.navbar{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background:#111827;
    display:flex;
    justify-content:space-around;
    padding:12px 0;
}

.navbar a{
    color:white;
    text-decoration:none;
    text-align:center;
    font-size:14px;
}
padding-bottom:90px;
